<template>
  <div class="editor">
    <div class="editor__controls">
      <v-btn class="editor__toggle" @click="togglePreview">Preview</v-btn>
      <v-btn class="edito__submit" @click="sendtext">Submit</v-btn>
    </div>

    <div class="editor__textarea">
      <v-textarea
        v-if="editing"
        v-model="text"
        class="editor__input"
        dark
        outlined
      />
      <!-- TODO: Sanitize the markdown or use Quill in the end -->
      <!-- <div v-else class="editor__result" v-html="compiledText"></div> -->
      <markdown-display v-else class="editor__result" :markdown="text" />
    </div>
  </div>
</template>

<script>
import MarkdownDisplay from "./MarkdownDisplay";

export default {
  components: { MarkdownDisplay },
  props: {
    submit: { type: Function, default: () => {} }
  },
  data() {
    return {
      text: "",
      editing: true
    };
  },
  methods: {
    togglePreview() {
      this.editing = !this.editing;
    },
    sendtext() {
      return this.submit(this.text);
    }
  }
};
</script>

<style lang="scss">
.editor {
  display: grid;
  grid-template-rows: 1fr 2rem;
  grid-template-columns: 1fr;

  grid-template-areas: "editor" "buttons";

  gap: 1rem;

  width: 100%;

  padding: 1rem;

  &__textarea {
    grid-area: editor;
    width: 100%;
    min-height: 5rem;
    // padding: 1rem;
  }

  &__result {
    width: 100%;
    height: 100%;

    & > * {
      max-width: 100%;
    }

    img {
      width: 60%;
      height: auto;
      object-fit: contain;
      margin: auto;
    }
  }

  &__controls {
    grid-area: buttons;

    display: flex;
    flex-flow: row nowrap;
    @include horizontal-gap(1rem);

    justify-content: flex-end;
  }
}
</style>
