<template>
  <div ref="infoContainer" class="user-info">
    <!-- User's avatar -->
    <div class="user-info__avatar">
      <base-avatar
        :picture="user.picture"
        :name="user.name"
        :size="120"
        square
      />

      <div class="user-info__score">
        <div>
          Score:
        </div>

        <div class="user-info__points-block text-center">
          <v-icon small dark :color="user.color">
            mdi-star-four-points-outline
          </v-icon>

          <div>{{ user.points }}</div>
        </div>
      </div>
    </div>

    <!-- User's current score -->

    <!-- User's short info -->
    <base-info-display v-bind="user" class="user-info__stats" />

    <div class="user-info__actions">
      <v-btn>Follow</v-btn>
    </div>

    <!-- User's categories -->
    <v-list v-show="categories" shaped dense class="user-info__categories">
      <v-subheader>
        Best category
      </v-subheader>

      <v-divider />

      <v-list-item v-for="category in categories" :key="category.id">
        <v-list-item-content class="text-no-wrap caption">
          {{ category.name }}
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import BaseAvatar from "@/components/base/BaseAvatar";
import BaseInfoDisplay from "@/components/base/BaseInfoDisplay";

export default {
  components: { BaseAvatar, BaseInfoDisplay },
  props: {
    categories: { type: Array, default: undefined },
    user: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.user-info {
  display: grid;

  grid-template-columns: 1fr 2fr minmax(auto, 1fr) 1fr;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    "avatar stats . actions"
    "avatar stats . categories"
    "score . . categories";

  place-content: center;
  place-items: start center;

  padding: 0.5rem;
}

.user-info__avatar {
  grid-area: avatar;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  padding: 1rem;
}

.user-info__actions {
  grid-area: actions;
  border: 1px solid black;
}

.user-info__score {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  justify-content: center;
  align-items: center;
}

.user-info__points-block {
  border-radius: 5px;
  background-color: #3e3e3e;

  padding: 0.2rem 0.5rem;

  color: white;
  font-weight: 300;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.user-info__stats {
  grid-area: stats;
}
.user-info__categories {
  grid-area: categories;

  place-self: start;

  padding: 0.3rem;
  background: inherit;
}
</style>
