<template>
  <div class="user-profile elevation-5" :class="[gridLayout]">
    <div class="user-profile__avatar">
      <base-avatar
        :name="user.info.name || user.info.username"
        :picture="info.picture"
        font-size="40px"
        size="190px"
      />
    </div>

    <div v-if="user.info.about" class="user-profile__about body-1">
      <read-more :text="user.info.about" />
    </div>

    <div class="user-profile__title">
      <div v-if="user.info.name" class="headline font-weight-medium">
        {{ user.info.name }}
      </div>

      <div class="user-profile__subtitle title font-weight-light">
        @{{ user.info.username }}

        <v-chip outlined color="primary" class="title">
          <v-icon left :color="user.info.color">mdi-circle</v-icon>
          <div>Level {{ user.info.level }}</div>
        </v-chip>
      </div>
    </div>

    <div v-if="!isSelf" class="user-profile__actions">
      <follow-button
        :username="user.info.username"
        :relation="relation"
        class="actions__follow"
        @user-followed="updateUser"
      />
    </div>

    <div class=" user-profile__info">
      <user-stats v-bind="user.stats" />
    </div>
  </div>
</template>

<script>
import BaseAvatar from "@/components/base/BaseAvatar";
import UserStats from "./UserStats";
import FollowButton from "@/components/FollowButton";
import ReadMore from "@/components/ReadMore";

export default {
  components: { BaseAvatar, UserStats, FollowButton, ReadMore },
  props: {
    info: { type: Object, required: true },
    stats: { type: Object, required: true },
    relation: { type: String, required: true }
    // actions: { type: Object, required: true }
  },
  data() {
    return {
      user: {
        info: this.info,
        stats: this.stats
      }
    };
  },
  computed: {
    gridLayout() {
      return this.info.about
        ? "user-profile--with-about"
        : "user-profile--without-about";
    },
    isSelf() {
      const loggedUser = this.$store.state.account.user;
      if (!loggedUser.info) return false;
      else return loggedUser && this.info.username == loggedUser.info.username;
    }
  },
  methods: {
    updateUser(user) {
      this.user = user;
    }
  }
};
</script>

<style lang="scss" scoped>
.user-profile {
  display: grid;
  background-color: $background;
  color: $foreground;
  margin: 1.5rem;

  &--with-about {
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 5rem 3fr 1rem 4rem;
    grid-template-areas:
      "avatar title actions"
      "avatar about about"
      ". . ."
      "info info info";
  }

  &--without-about {
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: 5fr 3fr;
    grid-template-areas:
      "avatar title actions"
      "avatar info info";

    gap: 0.8rem 1rem;
    padding: 1.5rem;
  }

  padding: 1rem;
  border-radius: 10px;

  place-items: stertch;
  place-content: center;

  // & > div {
  //   border: 1px solid black;
  // }

  &__avatar {
    grid-area: avatar;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__about {
    grid-area: about;

    display: flex;

    justify-content: flex-start;
    align-items: center;

    padding: 1rem;

    // display: none;
  }

  &__actions {
    grid-area: actions;
    // place-self: center;

    .actions__follow {
      margin: 1rem;
    }
  }

  &__title {
    grid-area: title;

    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    // justify-content: flex-end;
    align-items: flex-start;

    padding: 1rem;
  }

  &__subtitle {
    display: flex;
    flex-flow: row nowrap;
    @include horizontal-gap(1rem);
  }

  &__info {
    grid-area: info;
  }
}
</style>
