<template>
  <div class="user-stats">
    <div class="text-uppercase text-center">
      <div class="font-weight-black">Points</div>
      <div class="font-weight-light">{{ points }}</div>
    </div>
    <div class="text-uppercase text-center">
      <div class="font-weight-black">Debates won</div>
      <div class="font-weight-light">{{ debates }}</div>
    </div>
    <div class="text-uppercase text-center">
      <div class="font-weight-black">Followers</div>
      <div class="font-weight-light">{{ followers }}</div>
    </div>
    <div
      v-show="category"
      class="text-uppercase text-center"
    >
      <div class="font-weight-black">Best at</div>
      <div class="font-weight-light text-wrap">{{ category }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    points: { type: Number, default: 0 },
    debates: { type: Number, default: 0 },
    followers: { type: Number, default: 0 },
    category: { type: String, default: undefined }
  }
};
</script>

<style lang="scss" scoped>
.user-stats {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: center;

  height: 100%;

  @include horizontal-gap(1rem);

  & > div {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    padding: 0.2rem;
  }
}
</style>
