<template>
  <div class="user-actions">
    <v-btn rounded x-large class="dispay-1" @click.stop="follow">
      Follow
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    follow: { type: Function, required: true }
  }
};
</script>
<style lang="scss" scoped>
.user-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
</style>
