<template>
  <v-snackbar v-model="active" bottom :color="color" :timeout="timeout">
    {{ text }}
    <v-btn text @click.stop="close">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  props: {
    color: { type: String, default: "" },
    timeout: { type: Number, default: 3000 },
    text: { type: String, default: "" }
  },
  data() {
    return { active: false };
  },
  watch: {
    active: function(isActive, wasActive) {
      this.$emit("statusChange", isActive, wasActive);
    }
  },
  mounted() {
    this.$nextTick(() => this.show());
  },
  methods: {
    show() {
      this.active = true;
    },
    close() {
      this.active = false;
    },
    dismiss() {
      if (this.dismissable) {
        this.close();
      }
    }
  }
};
</script>
