<template>
  <transition name="fade" mode="out-in">
    <div v-if="loaded" class="nav-buttons">
      <div v-for="(link, i) in links" :key="i" class="nav-buttons__item">
        <v-btn v-bind="buttonProps" :to="link.href">
          <v-icon large>{{ "mdi-" + link.icon }}</v-icon>
        </v-btn>
        <span class="item--label">{{ link.label }}</span>
      </div>
    </div>
  </transition>
</template>

<script>
import links from "@/assets/links.json";
import { mapState } from "vuex";

export default {
  name: "NavigationList",
  data: () => ({ links, modal: false, tab: "" }),
  computed: {
    buttonProps: () => ({
      icon: true,
      rounded: true,
      stack: true,
      clickable: true,
      size: "20px",
      tag: "a",
      class: "nav-buttons__button"
    }),
    ...mapState({
      loaded: state => Object.keys(state.account.user).length > 0
    })
  },
  beforeMount() {
    this.$on("closeModal");
  },
  methods: {
    toggleButton(i) {
      const nextTab = this.links[i].link;
      this.tab = nextTab;
      this.modal = true;
    }
  }
};
</script>

<style scoped lang="scss">
.nav-buttons {
  display: flex;
  flex-flow: column nowrap;

  @include vertical-gap(2rem);

  position: fixed;
  left: 1rem;
  top: 30vh;
  z-index: 2;

  color: $accent;
  .v-icon {
    color: $accent;
  }
}

.nav-buttons__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .item--label {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }
}

.tab__create-debate {
  background-color: #333;
}

.modal__window {
  justify-content: flex-start;
  background-color: $background;
  color: $foreground;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modla__content {
  margin-left: 120px;
}
</style>
