<template>
  <div v-ripple class="notifications">
    <v-menu offset-y>
      <template #activator="{ on }">
        <v-badge top>
          <v-icon class="notifications__icon" v-on="on">mdi-bell</v-icon>
          <template #badge>
            {{ notificationCount }}
          </template>
        </v-badge>
      </template>

      <div class="notifications__list">
        <div
          v-for="(notification, key) in notifications"
          :key="key"
          class="notifications__item"
        >
          <div class="time">
            {{ notification.time | transformDate }}
          </div>

          <div class="message">
            {{ notification.message }}
          </div>
        </div>
      </div>
    </v-menu>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  filters: {
    transformDate(date) {
      return new Date(date).toDateString();
    }
  },
  computed: {
    ...mapState({
      notifications: state => state.account.user.notifications || []
    }),
    notificationCount() {
      return this.notifications.length;
    }
  }
};
</script>

<style lang="scss" scoped>
.notifications {
  height: 80%;

  &__icon {
    font-size: 1.9rem;
    color: $dominant;
  }

  &__list {
    background-color: $background;
    color: $foreground;

    display: flex;
    flex-flow: column nowrap;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;

    width: 300px;
    padding: 1rem;

    transition: background-color 0.3s;

    .message {
      padding: 1rem;
    }

    .time {
      align-self: flex-end;
    }
  }

  &__item:hover {
    background-color: #555555;
  }
}
</style>
