<template>
  <profile-menu bottom offset-y transition="slide-y-transition">
    <template #default="{ on: onMenu }">
      <v-tooltip bottom :disabled="!tooltip">
        <template #activator="{ on: onTooltip }">
          <div v-on="{ ...onMenu, ...onTooltip }">
            <div v-if="loaded" ref="profile">
              <base-avatar
                :name="user.info.name || user.info.username"
                :picture="user.info.picture"
                size="2.5rem"
                font-size="1.2rem"
              />
            </div>

            <login-form-modal v-else />
          </div>
        </template>

        {{ tooltip }}
      </v-tooltip>
    </template>
  </profile-menu>
</template>

<script>
import { mapState } from "vuex";

import LoginFormModal from "@/components/login/LoginFormModal";
import BaseAvatar from "@/components/base/BaseAvatar";
import ProfileMenu from "@/components/navigation/ProfileMenu";

export default {
  components: { BaseAvatar, LoginFormModal, ProfileMenu },
  props: {
    tooltip: { type: String, default: undefined }
  },
  data() {
    return { menu: false };
  },
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    })
  }
};
</script>

<style scoped>
.profile-link {
  text-decoration: none;
  color: inherit;
}
</style>
