<template>
  <div class="panel">
    <!-- <v-btn @click="googleSignIn">Google OAuth</v-btn> -->
    <notifications-button v-if="loggedIn" />
    <profile-button />
  </div>
</template>

<script>
import ProfileButton from "./ProfileButton";
import NotificationsButton from "./NotificationsButton";

import { mapGetters } from "vuex";

export default {
  components: { ProfileButton, NotificationsButton },
  computed: {
    ...mapGetters({ loggedIn: "auth/isLoggedIn" })
  }
  // methods: {
  //   googleSignIn() {
  //     window.open("http://localhost:3080/auth/google");
  //     // .then(res => console.log(res))
  //     // .catch(err => console.log(err));
  //   }
  // }
};
</script>

<style lang="scss" scoped>
.panel {
  @extend .flex-row;
  @include horizontal-gap(2rem);
  justify-content: flex-end;
  width: 100%;

  align-items: center;
}
</style>
