<template>
  <v-menu dark bottom offset-y transition="slide-y-transition">
    <template #activator="{ on }">
      <slot :on="on" />
    </template>

    <v-list>
      <v-list-item
        v-for="link in links"
        :key="link.href"
        class="menu__item"
        @click="linkRedirect(link.href)"
      >
        <span class="menu__link">
          {{ link.label }}
        </span>
      </v-list-item>

      <v-list-item class="menu__item" @click="logout">
        <span class="menu__link">
          Logout
        </span>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import links from "@/assets/menu.json";

export default {
  computed: {
    links: () => links
  },
  methods: {
    linkRedirect(link) {
      this.$router.push(link);
    },
    logout() {
      setTimeout(() => {
        this.$store.dispatch("auth/logout").then(() => {
          this.$cookies.remove("auth-token");
          this.$router.push("/");
        });
      }, 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.menu {
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
  }

  &__item {
    transition: background-color 0.4s;
  }

  &__item:hover {
    background-color: #454b55;
  }
}
</style>
