<template>
  <v-text-field
    v-model="searchQuery"
    solo
    dark
    rounded
    hide-details
    label="Search"
    append-icon="mdi-magnify"
    class="searchbar dominant--text"
    @keydown.enter="search"
  />
</template>

<script>
export default {
  name: "SearchBar",
  data () {
    return { searchQuery: "" };
  },
  methods: {
    search () {
      const query = this.searchQuery.trim();

      const tagsPath = this.checkTags(query);
      const userPath = this.checkUser(query);
      const categoryPath = this.checkCategory(query);

      if (userPath) this.$router.push(userPath);
      else if (categoryPath) this.$router.push(categoryPath);
      else if (tagsPath) this.$router.push(tagsPath);
      else
        this.$router.push({ path: "/search/debates", query: { query: query } });
    },
    checkUser (input) {
      if (input.startsWith("@") || input.split(" ").length == 1)
        return { path: `/user/${input.replace("@", "")}` };
      else return null;
    },
    checkTags (input) {
      const words = input.split(" ");
      const tags = words.reduce((acc, word) => {
        if (word.startsWith("#")) acc.push(word.replace("#", ""));

        return acc;
      }, []);

      if (tags.length > 0)
        return {
          path: "/search/tag",
          query: { tags: tags.join(",") }
        };
      else return null;
    },
    checkCategory (input) {
      if (input.startsWith("!"))
        return { path: `/user/${input.replace("!", "")}` };
      else return null;
    }
  }
};
</script>
