<template>
  <dashboard-layout />
  <!-- <div v-if="loaded" class="dashboard">
    <user-profile v-bind="user" :actions="actions" />
    <debate-requests :requests-data="user.requests.incoming" />
    <debate-tabs v-bind="user.debates" />
  </div> -->
</template>

<script>
import { mapState } from "vuex";

// import UserProfile from "@/components/user/UserProfile";
// import DebateTabs from "@/components/debate/DebateTabs";
// import DebateRequests from "@/components/debate/DebateRequests";

import DashboardLayout from "@/components/dashboard/DashboardLayout";

export default {
  // components: { UserProfile, DebateTabs, DebateRequests },
  components: { DashboardLayout },
  computed: {
    actions() {
      return { follow: () => this.$notify.show("Followed") };
    },

    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    })
  }
};
</script>

<style scoped>
/* .dashboard {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: stretch;

  gap: 1.2rem;

  width: 60%;
} */
</style>
