<template>
  <apollo-query
    :query="debateQuery"
    :variables="{ id: $route.params.id }"
    class="page"
  >
    <template v-slot="{ result: { data, loading } }">
      <debate-page v-if="data" v-bind="data.debate" />
    </template>
  </apollo-query>
</template>

<script>
import { debate } from "@/queries/debate";

import DebatePage from "@/components/debate/DebatePage";

export default {
  components: { DebatePage },
  computed: {
    debateQuery: () => debate
  }
};
</script>
