<template>
  <div class="wrapper">
    <article class="download-page">
      <header class="text-center">
        <h1>Download App</h1>
      </header>

      <blockquote>
        The app is still under development and will be uploaded to Play Store
        soon. The following link contains an APK file that will allow you
        install the current version of the app.
      </blockquote>

      <footer class="row-center">
        <v-btn
          :loading="loading"
          class="download-page__button"
          outlined
          @click="download"
        >
          <a
            ref="downloadLink"
            class="download-page__link"
            href="http://debatespace.me/api/download-app"
            download="app.apk"
          >
            DOWNLOAD
          </a>
        </v-btn>
      </footer>
    </article>
  </div>
</template>

<script>
export default {
  data: () => ({ loading: false }),
  methods: {
    async download() {
      this.$refs.downloadLink.click();
      // const res = await fetch("http://debatespace.me/api/download-app");

      // this.forceFileDownload(res);
    },
    async forceFileDownload(res) {
      const url = window.URL.createObjectURL(await res.blob());
      const link = document.createElement("a");

      link.href = url;
      link.setAttribute("download", "app.apk"); //or any other extension

      document.body.appendChild(link);
      link.click();
    }
  }
};
</script>

<style scoped lang="scss">
.wrapper {
  width: inherit;
  height: inherit;
  padding: 1rem 0;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.download-page {
  border-radius: 15px;
  background-color: $background;
  color: $foreground;
  padding: 1.5rem;

  max-width: 600px;

  @include vertical-gap(1rem);

  &__link {
    text-decoration: none;
    text-transform: capitalize;
    color: $foreground;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__button {
    border-radius: 15px;
    padding: 0.3rem 1rem;
    color: $foreground;
  }
}

@media screen and (max-width: 600px) {
  .download-page {
    width: 100%;
  }
}
</style>
