<template>
  <div class="main page">
    <div class="text-center font-weight-light display-2">
      Welcome to Debatespace!
    </div>

    <pagination-provider :query="debateQuery" :size="10">
      <template #default="{ data }">
        <debate-list :debates="data" />
      </template>
    </pagination-provider>
  </div>
</template>

<script>
import DebateList from "@/components/debate/DebateList";
import PaginationProvider from "@/components/PaginationProvider";

export default {
  name: "PageIndex",
  components: { PaginationProvider, DebateList },
  computed: {
    debateQuery: () => "debates/fetch"
  }
};
</script>

<style lang="scss" scoped>
.main {
  @extend .full-height;
  @extend .flex-column;
  justify-content: flex-start;
  @include vertical-gap(1rem);

  color: $primary;
}

.debate-tabs {
  width: 100%;
}
</style>
