<template>
  <div class="page">
    <initiate-steps />
  </div>
</template>

<script>
import InitiateSteps from "@/components/initiate/InitiateSteps";
export default {
  components: { InitiateSteps }
};
</script>

<style lang="scss" scoped>
.initiate-page {
  width: 100%;
  height: 100%;

  @extend .centered;
}
</style>
