<template>
  <q-page padding>
    <div class="flex-center column q-pa-md bg-foreground">
      <div class="text-h3">Login</div>
      <div class="row">
        <login-form class="col" />
      </div>
    </div>
  </q-page>
</template>

<script>
import LoginForm from "components/login/LoginForm";
export default {
  components: { LoginForm }
};
</script>
