<template>
  <div class="reset-page">
    <div v-if="verified" class="reset-form">
      <div class="reset-form__title">
        Reset Password
      </div>

      <div class="reset-form__fields">
        <v-text-field
          class="reset-form__field"
          v-model="password"
          type="password"
          label="Password"
          solo
          dark
        />

        <v-text-field
          class="reset-form__field"
          v-model="confirm"
          type="password"
          label="Confirm Password"
          solo
          dark
        />
      </div>

      <div v-if="error" class="form-error">
        {{ error }}
      </div>

      <div v-if="submitted" class="reset-form__submitted">
        Password was successfully submitted.
      </div>

      <v-btn
        v-else
        class="reset-form__submit"
        dark
        color="primary"
        @click.stop="onSubmit"
      >
        <div class="reset-form__submit-text">
          Submit
        </div>
      </v-btn>
    </div>

    <div v-else>
      <div v-if="error" class="form-error">
        {{ error }}
      </div>

      <div v-else class="reset-page__loader">
        <loading-spinner />
      </div>
    </div>
  </div>
</template>

<script>
import LoadingSpinner from "@/components/LoadingSpinner";

export default {
  components: { LoadingSpinner },
  data() {
    return {
      verified: false,
      submitted: false,
      error: null,
      password: "",
      confirm: ""
    };
  },
  mounted() {
    this.verify();
  },
  methods: {
    async verify() {
      const id = this.$route.query.id;
      const result = await this.$store.dispatch("passwordReset/verify", id);

      if (result) {
        this.error = result;
      } else {
        this.verified = true;
      }
    },

    async onSubmit() {
      if (this.submitted) {
        this.error = "Already submitted";
        return;
      }

      if (this.password != this.confirm) {
        this.error = "Passwords don't match";
        return;
      }

      if (this.password.length < 8) {
        this.error = "Password should be at least 8 characters long";
        return;
      }

      const params = {
        identifier: this.$route.query.id,
        password: this.password
      };

      const result = await this.$store.dispatch("passwordReset/reset", params);

      if (result) {
        this.error = result;
      } else {
        this.submitted = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.reset-form {
  display: flex;
  flex-flow: column nowrap;

  width: min(400px, 80%);

  justify-content: space-evenly;
  align-items: center;

  font-family: "Raleway";
  color: $primary;

  &__fields {
    margin: 1rem 0;
    width: 100%;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__submit {
    width: 100%;
  }

  &__submit-text {
    color: $secondary;
  }
}

.form-error {
  color: $secondary;
  text-align: center;

  padding: 0 1rem;
  padding-bottom: 1rem;
}

.reset-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
}
</style>
