<template>
  <apollo-query class="page" :query="userQuery" :variables="queryVariables">
    <template v-slot="{ result: { loading, error, data } }">
      <div v-if="data" class="profile">
        <user-profile v-bind="data.user" />
        <debate-list :debates="data.user.debates" class="profile__debates" />
      </div>

      <loading-spinner v-else />
    </template>
  </apollo-query>
</template>

<script>
import user from "@/queries/user/user";
import { mapState } from "vuex";

import UserProfile from "@/components/user/UserProfile";
import DebateList from "@/components/debate/DebateList";
import LoadingSpinner from "@/components/LoadingSpinner";

export default {
  components: { DebateList, UserProfile, LoadingSpinner },
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    }),
    userQuery: () => user,
    queryVariables() {
      return { username: this.$route.params.username };
    }
  }
};
</script>

<style scoped lang="scss">
.profile {
  @extend .flex-column;
  @include vertical-gap(1.2rem, true);

  justify-content: start;
  align-items: stretch;
  max-width: 940px;
}

.profile__debates {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .profile {
    max-width: 100%;
  }
}
</style>
