<template>
  <div class="register-page">
    <sign-up-form />
  </div>
</template>

<script>
import SignUpForm from "@/components/register/SignUpForm";
export default {
  components: { SignUpForm }
};
</script>

<style lang="scss" scoped>
.register-page {
  width: 100%;
  height: 100%;

  @extend .centered;
}
</style>
