<template>
  <div class="search page">
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
.search {
  border-radius: 10px;
  background-color: $background;
  color: $foreground;
  padding: 2rem;
}
</style>
