<template>
  <div class="tag-list">
    <base-tag
      v-for="(tag, i) in tags"
      :key="i"
      :removable="removable"
      :large="large"
      :name="tag"
      @closed="event => $emit('remove', i)"
    />
  </div>
</template>

<script>
import BaseTag from "@/components/base/BaseTag";
/**
 * Tag List, displays list of tags
 */
export default {
  components: { BaseTag },
  props: {
    tags: { type: Array, required: true },
    removable: { type: Boolean, default: false },
    large: { type: Boolean, default: false }
  }
};
</script>

<style scoped lang="scss">
.tag-list {
  @extend .flex-row;
  flex-wrap: wrap;
  @include vertical-gap(0.5rem);
  @include horizontal-gap(0.5rem);
}
</style>
