<template>
  <router-link :to="link" class="category-badge">
    <span class="text-center font-weight-medium headline">
      / {{ name }} /
    </span>
  </router-link>
</template>

<script>
export default {
  props: {
    name: { type: String, required: true }
  },
  computed: {
    link() {
      return `/search/category/${this.name}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.category-badge {
  text-decoration: none;
  color: $secondary;
}
</style>
