<template>
  <v-chip
    :close="removable"
    :large="large"
    pill
    class="tag elevation-3"
    @click:close="close"
  >
    <router-link :to="link" class="tag__link">
      <v-icon :large="large">mdi-bookmark</v-icon>
      <span
        class="tag__name"
        :class="[large ? 'headline' : 'text-capitalized ']"
      >
        {{ name }}
      </span>
    </router-link>
  </v-chip>
</template>

<script>
export default {
  props: {
    name: { type: String, required: true },
    removable: { type: Boolean, default: false },
    large: { type: Boolean, default: false }
  },
  computed: {
    link() {
      return { path: "/search/tag?tags", query: { tags: this.name } };
    }
  },
  methods: {
    close() {
      this.$emit("closed");
    }
  }
};
</script>

<style lang="scss" scoped>
.tag {
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.05);
  }

  &__link {
    text-decoration: none;
    color: $accent;
    @extend .centered;
  }

  &__name {
    margin: 0 1rem;
    font-weight: 350;
  }
}
</style>
