<template>
  <div
    :class="[
      vertical ? 'user-badge--vertical' : '',
      isLink ? 'user-badge--link' : '',
      inverted ? 'user-badge--inverted' : 'user-badge--normal'
    ]"
    class="user-badge"
    @click="handleClick"
  >
    <!-- User's avatar -->
    <div
      :class="[inverted ? 'order-last' : 'order-first']"
      class="user-badge__avatar"
    >
      <v-badge overlap bottom color="black">
        <base-avatar
          :name="name || username"
          :picture="picture"
          :size="size"
          square
        />
        <!-- badge that displays User's points -->
        <template #badge>
          <div class="px-1">
            <v-icon :color="color.toLowerCase()">
              mdi-star-four-points-outline
            </v-icon>
            <span class="font-weight-light">{{ score }}</span>
          </div>
        </template>
      </v-badge>
    </div>

    <!-- User's name and username -->
    <div
      class="text-wrap"
      :class="[
        inverted ? 'text-right' : 'text-left',
        vertical ? 'text-center' : ''
      ]"
    >
      <div class="headline font-weight-medium ">{{ name }}</div>
      <div class="title font-weight-light">@{{ username }}</div>
    </div>
  </div>
</template>

<script>
import BaseAvatar from "./BaseAvatar";

/**
 * Component that displays user's avatar, name and score
 */
export default {
  name: "BaseUserBadge",
  components: { BaseAvatar },
  props: {
    /** Data properties required for child componenets */
    username: { type: String, required: true },
    name: { type: String, default: "" },
    picture: { type: String, default: undefined },
    color: { type: String, default: "teal" },
    score: { type: Number, default: 0 },

    /** Style defiining properties */
    inverted: { type: Boolean, default: false },
    vertical: { type: Boolean, default: false },
    size: { type: [Number, String], default: "70px" },
    isLink: { type: Boolean, default: false }
  },
  data() {
    return {
      link: `/user/${this.username}`
    };
  },
  methods: {
    handleClick() {
      if (this.isLink) {
        this.$router.push(this.link);
      } else {
        this.$emit("click");
      }
    }
  }
};
</script>

<style scoped lang="scss">
.user-badge {
  @extend .nowrap;
  @extend .row-center;

  &--normal {
    .user-badge__avatar {
      margin-right: 1rem;
    }
  }

  &--inverted {
    .user-badge__avatar {
      margin-left: 1rem;
    }
  }

  padding: 0.6rem;

  text-decoration: none;
  color: inherit;

  transition: transform 0.4s;
}

.user-badge--vertical {
  @include vertical-gap(0.5rem);
  flex-flow: column nowrap;
  text-align: center;
}

.user-badge--link {
  cursor: pointer;
}

.user-badge--link:hover {
  transform: scale(1.1);
}
</style>
