<template>
  <div class="info-block">
    <!-- Username and full name -->
    <div class="info-block__name">
      <div class="headline">{{ name }}</div>
      <div class="caption">@{{ username }}</div>
    </div>

    <v-divider class="info-block__separator" />

    <!-- Followers, debates, etc. -->
    <div class="info-block__stats text-no-wrap">
      <div class="followers">Followers: 0</div>
      <div class="debates">Debates: 0</div>
    </div>
  </div>
</template>

<script>
/**
 * Base Info Display component.
 * Displays user's name, score and followers/debates
 */
export default {
  props: {
    /** User's full name */
    name: { type: String, default: "Debater" },
    /** User's chosen username */
    username: { type: String, required: true }
  }
};
</script>

<style scoped>
.info-block {
  display: grid;
  grid-template-rows: repeat(2, 1fr) 1rem 1fr;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "name name"
    "name name"
    "separator separator"
    "stats stats";

  gap: 20px;

  place-items: center;
  background-color: transparent;
  padding: 1rem;

  width: fit-content;
}

.info-block__separator {
  grid-area: separator;

  height: 8px;
  position: relative;

  width: 100%;
}

.info-block__name {
  grid-area: name;

  justify-self: start;
}

.info-block__stats {
  grid-area: stats;

  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  text-overflow: clip;
}
</style>
