<template>
  <!-- Container for the header -->
  <div class="surround-container">
    <!-- Surrounding components.
      Can be used for elements that display similar components
    on either side.-->
    <div
      v-for="(surround, i) in sides"
      :key="i"
      :class="[order(i), sideclass]"
      class="surround__side"
    >
      <!-- Slot binds `surround = { side, props }`,
        where side is a string, either "letf" or "right",
      and props is set of props that where passed to given side-->
      <slot name="surround" v-bind="surround">
        <!-- By default, it uses lines on each side -->
        <v-divider :class="sideclass" />
      </slot>
    </div>

    <!-- Default slot that will be displayed in the middle -->
    <slot />
  </div>
</template>

<script>
export default {
  name: "BaseSurround",
  props: {
    /**
     * Classes to apply to component on either side
     */
    sideclass: { type: String, default: () => "" },

    /**
     * Object that holds props for each side component
     */
    sides: { type: Array, default: () => [null, null] }
  },
  methods: {
    /**
     * Sets order CSS class depending on the side of the component
     */
    order(i) {
      return i === 0 ? "order-first" : "order-last";
    }
  }
};
</script>

<style scoped lang="scss">
.surround-container {
  @extend .centered;
  @include horizontal-gap(1rem);
  flex-grow: 0;
}

.surround__side {
  flex-grow: 2;
  flex-shrink: 2;
}
</style>
