<template>
  <v-avatar
    :tile="square"
    :size="size"
    :width="width"
    :height="height"
    :class="[square ? 'avatar--square' : '']"
    :color="!picture ? color : undefined"
  >
    <!-- Display either  actual avatar or make one from the name -->
    <img v-if="picture" :src="`${picture}`" contain class="elevation-11" />

    <span v-else :style="{ 'font-size': fontSize }">
      {{ name[0] }}
    </span>

    <slot name="badge" />
  </v-avatar>
</template>

<script>
/**
 * Base Avatar component that display user's picture
 * if present or avatar with first letter of their name
 */
export default {
  props: {
    /** User's picture */
    picture: { type: String, default: undefined },
    /** User's name */
    name: { type: String, default: "FUCK" },

    /** Size of the avatar */
    size: { type: [Number, String], default: undefined },
    width: { type: [Number, String], default: undefined },
    height: { type: [Number, String], default: undefined },

    /** Font size of the letters in the avatar */
    fontSize: { type: String, default: "25px" },
    color: { type: String, default: "teal" },
    square: { type: Boolean, default: false }
  }
};
</script>

<style>
.avatar--square {
  border-radius: 8px !important;
}
</style>
