<template>
  <v-btn
    :loading="loading"
    rounded
    x-large
    class="dispay-1 follow"
    @click.stop="follow"
  >
    <div class="follow__content">
      <v-icon v-show="followed">mdi-check</v-icon>
      <span v-if="followed">Followed</span>
      <span v-else>Follow</span>
    </div>
  </v-btn>
</template>

<script>
export default {
  props: {
    username: { type: String, required: true },
    relation: { type: String, default: "none" }
  },
  data() {
    return {
      loading: false,
      followed: this.relation === "followed"
    };
  },
  methods: {
    follow() {
      this.loading = true;
      return this.$store
        .dispatch("account/follow", { username: this.username })
        .then(this.emitUserFollowed)
        .then(res => this.$notify.show(`Followed user ${res.info.username}`))
        .then(() => {
          this.followed = true;
        })
        .catch(err => this.$notify.error(err.message))
        .finally(() => {
          this.loading = false;
        });
    },
    block() {
      this.$notify.show("Blocked");
    },
    emitUserFollowed(info) {
      this.$emit("user-followed", info);
      return info;
    }
  }
};
</script>

<style lang="scss" scoped>
.follow {
  &__content {
    @include horizontal-gap(0.5rem);
  }
}
</style>
