<template>
  <div>
    <div class="test-area">
      <div class="debate-info-full" style="height: auto; width: 500px">
        <debate-info v-bind="debate" />
        <debate-log v-bind="debate" />
      </div>
      <debate-preview v-bind="debate" />
    </div>
  </div>
</template>

<script>
import links from "@/assets/links.json";
import DebateInfo from "@/components/debate/DebateInfo";
import DebateLog from "@/components/debate/DebateLog";
import DebatePreview from "@/components/debate/DebatePreview";

export default {
  components: {
    DebateInfo,
    DebatePreview,
    DebateLog
  },
  computed: {
    links: () => links,
    user: () => ({
      username: "test.name",
      name: "Test Test",
      id: "1",
      color: "orange"
    }),
    debate() {
      return {
        id: "1",
        deadline: "12.02.99",
        tags: ["fuck", "off"],
        topic: "Why you should",
        description: "You shouldn't",
        category: "bullshit",
        participants: [
          {
            user: this.user,
            side: "LEFT",
            score: 100
          },
          {
            user: this.user,
            side: "RIGHT",
            score: 100
          }
        ],
        log: [
          {
            side: "LEFT",
            timestamp: "2019-09-20T06:06:41.293Z",
            content:
              "pariatur quis excepteur pariatur fugiat labore amet quis id cupidatat occaecat laborum dolor reprehenderit fugiat ex amet qui non pariatur do cillum occaecat do mollit eiusmod eiusmod quis elit qui ullamco exercitation pariatur pariatur exercitation sint officia occaecat ea adipisicing nostrud culpa id quis reprehenderit ad sint in culpa enim"
          },
          {
            side: "RIGHT",
            timestamp: "2019-09-20T06:06:41.294Z",
            content:
              "mollit consectetur aliquip aute ex eiusmod irure eiusmod est ad mollit sint consequat aute aute veniam nisi pariatur ex ea eiusmod id deserunt dolore elit ullamco commodo ad duis id esse pariatur reprehenderit elit duis esse officia sunt id enim incididunt cillum pariatur mollit irure labore aliquip ex laboris sunt"
          }
        ]
      };
    }
  }
};
</script>

<style scoped>
.test-area {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  width: 100%;

  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.debate-info-full {
  background-color: rgb(180, 160, 69);
  padding: 1rem;
  border-radius: 5px;
}

/* .info-display {
  width: 200px;

  border: 2px solid;
} */
</style>
