<template>
  <div class="upload">
    <v-avatar size="150px" color="teal">
      <v-img v-if="imagePreview" :src="imagePreview" />
    </v-avatar>
    <div class="upload__input">
      <v-file-input
        v-model="image"
        accept="image/*"
        label="Upload your image"
        hide-details
        clearable
        rounded
        solo
        dark
        @change="readForPreview"
        @click:clear="clearImage"
      />

      <v-btn
        color="dominant"
        outlined
        solo
        rounded
        dark
        @click="uploadImage(image)"
      >
        Upload
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    image: null,
    imagePreview: null
  }),
  methods: {
    uploadImage(file) {
      this.$store.dispatch("account/uploadImage", { file });
    },
    readForPreview() {
      console.log(this.image);
      const reader = new FileReader();

      reader.addEventListener(
        "load",
        () => {
          this.imagePreview = reader.result;
        },
        false
      );

      reader.readAsDataURL(this.image);
      console.log(this.image);
    },
    clearImage() {
      this.image = null;
      this.imagePreview = null;
    }
  }
};
</script>

<style lang="scss" scoped>
.upload {
  @extend .column-center;
  @include vertical-gap(1rem);

  &__placeholder {
    background: $accent;
  }

  &__input {
    width: 50%;
    @extend .row-center;
    @include horizontal-gap(1rem);
  }
}
</style>
