<template>
  <div class="page">
    <div class="page__container">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.page {
  @extend .column-center;
  &__container {
    max-width: 80%;
    min-width: 60%;
  }
}
</style>
