<template>
  <div class="paginator">
    <transition name="fade" mode="out-in">
      <div v-if="items.length > 0" key="page-display" class="paginator">
        <slot :data="items" />

        <loading-spinner v-if="loading" key="spinner" />
        <span v-else>
          <v-btn
            v-if="hasMore"
            key="hasMore"
            x-large
            rounded
            outlined
            bottom
            color="primary"
            @click="fetch"
          >
            More
          </v-btn>
        </span>
      </div>
      <div v-else>
        <slot name="error" :error="error">
          {{ error }}
        </slot>
      </div>
    </transition>
  </div>
</template>

<script>
import LoadingSpinner from "@/components/LoadingSpinner";

export default {
  components: { LoadingSpinner },
  props: {
    query: { type: String, required: true },
    size: { type: Number, default: 5 }
  },
  data: () => ({
    hasMore: false,
    page: 0,
    error: null,
    items: [],
    loading: false
  }),
  beforeMount() {
    this.fetch();
  },
  methods: {
    fetch() {
      this.loading = true;
      this.$store
        .dispatch(this.query, { page: this.page, size: this.size })
        .then(data => {
          this.items.push(...data.page);
          this.hasMore = data.hasMore;
          this.page++;
        })
        .catch(err => {
          console.log(err);
          this.error = err;
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style lang="scss">
.paginator {
  @extend .column-center;
  @extend .full-height;
  @include vertical-gap(1rem);
}
</style>
