<template>
  <transition name="fade" mode="out-in">
    <div v-if="readMore" key="shortened">
      {{ text }} <br />
      <a href="#" class="text-uppercase" @click="close">close</a>
    </div>
    <div v-else ley="full">
      {{ shortenedText }}
      <span v-if="isLong">
        ... <a v-if="isLong" href="#" @click="showMore">more</a>
      </span>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    text: { type: String, required: true }
  },
  data() {
    return {
      readMore: false
    };
  },
  computed: {
    shortenedText() {
      return this.text.slice(0, 150);
    },
    isLong() {
      return this.text.length > 80;
    }
  },
  methods: {
    showMore() {
      this.readMore = true;
    },
    close() {
      this.readMore = false;
    }
  }
};
</script>
