<template>
  <v-btn
    :loading="loading"
    color="foreground"
    rounded
    large
    ripple
    outlined
    class="dispay-1 vote"
    @click="vote"
  >
    <div class="vote__text">
      <span v-if="voted"> <v-icon>mdi-check</v-icon> Voted </span>
      <span v-else>Vote</span>
    </div>
  </v-btn>
</template>

<script>
export default {
  props: {
    debateId: { type: String, required: true },
    voted: { type: Boolean, required: true },
    side: {
      type: String,
      required: true,
      validate: v => v === "left" || v === "right"
    }
  },
  data: () => ({ loading: false }),
  methods: {
    vote() {
      this.loading = true;
      return this.$store
        .dispatch("account/vote", { debate: this.debateId, side: this.side })
        .catch(({ message }) => {
          this.$notify.error(message);
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.vote__text {
  margin: 0 1rem;
  color: $foreground;
}
</style>
