<template>
  <div v-if="requests && requests.length > 0" class="request-list">
    <debate-request
      v-for="(request, i) in requests"
      :key="i"
      v-bind="request"
      class="request"
      :initiated="initiated"
    />
  </div>
  <div v-else class="no-requests">{{ noRequests }}</div>
</template>

<script>
import { debateRequests } from "@/queries/request";

import DebateRequest from "./DebateRequest";

export default {
  components: { DebateRequest },
  props: {
    requestsData: { type: Array, default: undefined },
    noRequests: { type: String, default: "No Requests Available" },
    initiated: { type: Boolean, default: false }
  },
  data() {
    return {
      requests: this.requestsData,
      error: null
    };
  },
  beforeMount() {
    this.$on("request-resolved", function(id) {
      this.requests.splice(this.requests.find(req => req.id === id));
    });
    if (!this.requests) {
      this.$apollo
        .query({
          query: debateRequests,
          varibales: {
            source: "incoming"
          }
        })
        .then(res => {
          this.requests = res.data.requests;
        })
        .catch(err => {
          this.error = err;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.request-list {
  max-width: 100%;
  padding: 1rem;

  @extend .column-center;
  @extend .nowrap;
  @include vertical-gap(1rem);

  background-color: $background;
}

.no-requests {
  color: $foreground;
  @extend .centered;
  font-weight: 200;
  font-size: 2rem;
  background-color: $background;
  margin: 10% 0;
}
</style>
