<template>
  <div class="request elevation-5" :class="gridClassOption">
    <div class="request__userinfo">
      <router-link :to="profileLink" tag="div" class="request__user">
        <base-user-badge
          v-if="!initiated"
          class="request__user"
          v-bind="initiator.info"
          :score="initiator.stats.points"
          size="5rem"
          vertical
          is-link
        />

        <base-user-badge
          v-else
          v-bind="recipient.info"
          :score="recipient.stats.points"
          size="5rem"
          vertical
          is-link
        />
      </router-link>

      <div v-if="initiated || status != 'SENT'" class="request__status">
        <span class="font-weight-light">Status:</span>
        <span :class="statusColor"> {{ status }}</span>
      </div>

      <div v-else class="request__controls">
        <v-btn @click="acceptRequest">Accept</v-btn>
        <v-btn @click="rejectRequest">Reject</v-btn>
      </div>
    </div>

    <div class="request__info">
      <div class="request__date">{{ timestamp }}</div>
      <div class="request__category">
        <span class="font-weight-bold">Category:</span>
        {{ debate.category.name }}
      </div>
      <div class="request__topic">
        {{ debate.topic }}
      </div>
      <div>
        <base-tag-list :tags="debate.tags" />
      </div>
    </div>
  </div>
</template>

<script>
import BaseUserBadge from "@/components/base/BaseUserBadge";
import BaseTagList from "@/components/base/BaseTagList";

export default {
  components: { BaseUserBadge, BaseTagList },
  props: {
    id: { type: String, required: true },
    initiator: { type: Object, required: true },
    recipient: { type: Object, required: true },
    time: { type: String, required: true },
    status: { type: String, required: true },

    debate: { type: Object, required: true },
    initiated: { type: Boolean, default: false }
  },
  computed: {
    timestamp() {
      return new Date(this.time).toDateString();
    },
    gridClassOption() {
      return [this.initiated ? "request--initiated" : "request--received"];
    },
    profileLink() {
      const username = this.initiated
        ? this.recipient.info.username
        : this.initiator.info.username;

      return `/user/${username}`;
    },
    statusColor() {
      switch (this.status) {
        case "ACCEPTED":
          return "green--text";
        case "REJECTED":
          return "red--text";
        default:
          return "yellow--text";
      }
    }
  },
  methods: {
    async acceptRequest() {
      console.log(this.id);
      const debate = await this.$store.dispatch("debates/resolveRequest", {
        request: this.id,
        status: "ACCEPT"
      });

      this.$notify.show("Request accepted");
      this.$router.push(`/debate/${debate.id}`);
    },
    async rejectRequest() {
      await this.$store.dispatch("debates/resolveRequest", {
        request: this.id,
        status: "REJECT"
      });

      this.$notify.show("Request rejected");
      this.$emit("request-resolved", this.id);
    }
  }
};
</script>

<style scoped lang="scss">
.request {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;

  &--initiated {
    grid-template-areas: "user info";
  }

  &--received {
    grid-template-areas: "user info";
  }

  padding: 1rem;

  background-color: $foreground;
  border-radius: 5px;
  width: 80%;
  max-width: 100%;

  &__userinfo {
    display: grid;
    grid-template-rows: 1rem 1fr 5rem;
    grid-template-areas: "." "profile" "controls";
  }

  &__status {
    grid-area: controls;
    place-self: center;

    border-radius: 5px;
    background-color: $background;
    color: $foreground;
    padding: 0.2rem 0.4rem;
  }

  &__info {
    grid-area: info;

    @extend .flex-column;

    justify-content: flex-start;
    align-items: flex-start;

    @include vertical-gap(0.5rem);

    font-size: 1.2rem;
  }

  &__user {
    grid-area: profile;
    @extend .centered;
    align-self: stretch;

    @include horizontal-gap(1rem);
  }

  &__controls {
    grid-area: controls;
    @extend .centered;

    @include horizontal-gap(1rem);
  }

  &__date {
    align-self: flex-end;
  }
}
</style>
