// $primary: hsl(35%, 60%, 80%);
// $accent-1: hsl(28%, 27%, 32%);
// $accent-2: hsl(34%, 18%, 47%);
// $accent-3: hsl(48%, 23%, 54%);
// // $background: hsl(14%, 20%, 31%);

// // $primary: hsla(41%, 20%, 75%, 1);
// // $accent-1: hsla(28%, 69%, 25%, 1);
// // $accent-2: hsla(18%, 9%, 48%, 1);
// $background: hsla(47%, 42%, 15%, 1);
// $foreground: $primary;
// $bar: #2b3033;

// $text-heading: $primary;

// $input-text-color: $accent-2;
// $input-label-color: $accent-2;

// Used to highlight elements
$dominant: #d8cca1;
$accent: #8e8d8a;

$foreground: $dominant;

$contrast: hsl(227, 25%, 89%);

$headline-color: $accent;
$paragraph-color: $foreground;

$colors-red: rgb(250, 54, 10);
$colors-blue: rgb(76, 173, 212);

$primary: rgb(229, 199, 128);
$secondary: rgb(200, 40, 4);

$surface: #4a4b4d;
$background: #66676b;