.flex-helper {
  display: flex;
}

.flex-row {
  @extend .flex-helper;
  flex-direction: row;
}

.flex-column {
  @extend .flex-helper;
  flex-direction: column;

  &-nowrap {
    @extend .nowrap;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-stretch {
  justify-content: stretch;
  align-items: stretch;
}

.nowrap {
  flex-wrap: nowrap;
}

.centered {
  @extend .flex-helper;
  @extend .flex-center;
}

.row-center {
  @extend .flex-row;
  @extend .flex-center;
}

.column-center {
  @extend .flex-column;
  @extend .flex-center;
}
