@mixin vertical-gap($size, $middle: false) {
  $gap: $size / 2;

  & > * {
    margin-top: $gap;
    margin-bottom: $gap;
  }

  @if $middle {
    & > *:first-child {
      margin-bottom: $gap;
      margin-top: 0;
    }

    & > *:last-child {
      margin-top: $gap;
      margin-bottom: 0;
    }
  }
}

@mixin horizontal-gap($size, $middle: false) {
  $gap: $size / 2;

  & > * {
    margin-left: $gap;
    margin-right: $gap;
  }

  @if $middle {
    & > *:first-child {
      margin-right: $gap;
      margin-left: 0;
    }

    & > *:last-child {
      margin-left: $gap;
      margin-right: 0;
    }
  }
}

@mixin gap($size) {
}

@mixin horizontal-gap-reverse($size) {
  $gap: $size / 2;

  & > * {
    margin-left: $gap;
    margin-right: $gap;
  }

  & > *:last-child {
    margin-right: $gap;
    margin-left: 0;
  }

  & > *:first-child {
    margin-left: $gap;
    margin-right: 0;
  }
}
