<template>
  <v-form class="debate-form">
    <v-text-field
      :value="opponent"
      type="email"
      label="Opponent's Email"
      solo
      disabled
      hide-details
      dark
    />
    <v-textarea
      v-model="topic"
      :hide-details="!errors.topic.error"
      :error="errors.topic.error"
      :error-messages="errors.topic.message"
      color="primary"
      label="Topic"
      rows="3"
      auto-grow
      solo
      dark
      @change="validateTopic"
    />
    <v-autocomplete
      v-model="category"
      class="debate-form__category"
      :items="categories.map(c => c.name)"
      :loading="$apollo.loading"
      label="Category"
      hide-details
      solo
      dark
    >
      <template #no-data>
        Create category
      </template>
    </v-autocomplete>

    <div class="debate-form__tags">
      <v-text-field
        v-model="tagInput"
        hide-details
        label="Tags"
        solo
        dark
        @keyup.enter="addTag"
      />
      <v-btn
        dark
        solo
        class="background--text"
        :disabled="!tagInput || tags.length >= 3"
        @click="addTag"
      >
        Add
      </v-btn>
    </div>
    <base-tag-list removable :tags="tags" @remove="removeTag" />

    <v-radio-group v-model="side" row mandatory dark label="Your side:">
      <v-radio value="left" label="For" solo />
      <v-radio value="right" label="Against" solo />
    </v-radio-group>

    <p>Debate type:</p>
    <v-radio-group v-model="debateType" row mandatory dark>
      <v-radio value="short" label="Small" solo />
      <v-radio value="medium" label="Medium" solo />
      <v-radio value="long" label="Large" solo />
    </v-radio-group>

    <v-btn dark @click.stop="onSubmit">Submit </v-btn>

    <v-snackbar :value="snackbar" :timeout="3000">
      {{ snackbarMessage }}
    </v-snackbar>
  </v-form>
</template>

<script>
import gql from "graphql-tag";
import { createRequest } from "@/queries/request";

import BaseTagList from "@/components/base/BaseTagList";

export default {
  components: { BaseTagList },
  props: {
    opponent: { type: String, required: true }
  },
  data: () => ({
    topic: "",
    description: "",
    tags: [],
    category: "",
    side: "",
    debateType: "",

    errors: {
      topic: { error: false, message: "" },
      description: { error: false, message: "" },
      opponent: false
    },

    tagInput: "",

    snackbar: false,
    snackbarMessage: "",
    categories: []
  }),
  beforeMount() {
    this.$apollo
      .query({
        query: gql`
          query {
            categories {
              name
            }
          }
        `
      })
      .then(({ data }) => {
        this.categories.push(...data.categories);
      });
  },
  methods: {
    validateTopic() {
      const valid = this.topic.length < 50 && this.topic.length > 0;
      this.errors.topic = {
        error: !valid,
        message: !valid ? "Topic should be at most 50 characters long" : ""
      };
    },
    validateDescription() {
      const description = this.description.split(" ");
      const valid = description.length < 80 && description.length > 0;
      this.errors.description = {
        error: !valid,
        message: !valid
          ? "Description should be at most 80 characters long"
          : ""
      };
    },
    debateData() {
      return {
        initiator: this.$store.state.account.user.info.username,
        recipient: this.opponent,
        options: {
          topic: this.topic,
          tags: this.tags,
          category: this.category,
          type: this.debateType
        }
      };
    },

    addTag() {
      if (this.tagInput !== "") {
        this.tags.push(this.tagInput);
        this.tagInput = "";
      }
    },
    removeTag(i) {
      this.tags.splice(i, 1);
    },
    async onSubmit() {
      const { topic, description } = this.errors;
      if (!topic.error && !description.error) {
        await this.$apollo.mutate({
          mutation: createRequest,
          variables: this.debateData()
        });
        this.displaySnackbar("Request has been sent");
        this.$emit("closeModal");
      }
    },
    displaySnackbar(text) {
      this.snackbarMessage = text;
      this.snackbar = true;
    }
  }
};
</script>

<style scoped lang="scss">
.debate-form {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;

  @include vertical-gap(1rem);

  background-color: $background;
  color: $foreground;

  padding: 1rem;
  border-radius: 10px;
}

.debate-form__tags {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  @include horizontal-gap(1rem, true);
}
</style>
