<template>
  <v-stepper v-model="step" class="steps transparent">
    <v-stepper-header dark color="primary">
      <v-stepper-step :compete="step > 1" :step="1" color="accent" />
      <v-divider color="dominant" />

      <v-stepper-step :compete="step > 2" :step="2" />
      <v-divider />

      <v-stepper-step :compete="step > 3" :step="3" />
    </v-stepper-header>

    <v-stepper-items dark color="primary">
      <v-stepper-content :step="1">
        <option-choice-dialog @option-chosen="setOption" />
      </v-stepper-content>

      <v-stepper-content :step="2">
        <div class="steps__search">
          <search-options
            v-if="option == 'opponent'"
            v-model="searchOptions.filters"
            @search-users="searchUsers"
          />
          <user-search-result
            ref="userSearchResults"
            :filters="searchOptions"
            :search-followers="option == 'friend'"
            @user-chosen="setOpponent"
          />
        </div>
      </v-stepper-content>

      <v-stepper-content :step="3">
        <div class="step">
          <debate-form :opponent="opponent" />
          <v-btn @click="back">Back</v-btn>
        </div>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import OptionChoiceDialog from "./OpponentChoiceDialog";
import DebateForm from "./DebateForm";
import UserSearchResult from "./UserSearchResult";
import SearchOptions from "./SearchOptions";

export default {
  components: {
    OptionChoiceDialog,
    DebateForm,
    UserSearchResult,
    SearchOptions
  },
  data() {
    return {
      step: 1,
      option: "",
      opponent: "",
      isActive: false,
      searchOptions: {
        filters: {
          country: "",
          education: "",
          occupation: "",
          category: ""
        }
      }
    };
  },
  methods: {
    searchUsers() {
      this.$refs.userSearchResults.searchUsers();
    },
    setOption(option) {
      console.log(option);
      this.option = option;
      if (option == "friend")
        this.$refs.userSearchResults.searchUserFollowers();
      this.nextStep();
    },
    setOpponent(email) {
      this.opponent = email;
      this.nextStep();
    },
    nextStep() {
      setTimeout(() => {
        this.step++;
      }, 100);
    },
    back() {
      setTimeout(() => {
        this.step--;
      }, 100);
    }
  }
};
</script>

<style lang="scss" scoped>
div[class^="v-stepper"] {
  box-shadow: unset;
}
.steps {
  width: 100%;
  height: auto;

  .step {
    @extend .column-center;
    width: 100%;
    @include vertical-gap(1rem);
  }

  &__search {
    @include vertical-gap(2rem);
  }

  // .v-stepper__content .v-stepper__wrapper {
  //   width: 100% !important;
  // }
}
</style>
