<template>
  <div class="choice-dialog">
    <v-card
      v-ripple
      class="choice-dialog__option elevation-5"
      @click="() => choose('friend')"
    >
      Choose a Friend
    </v-card>
    <v-card
      v-ripple
      class="choice-dialog__option elevation-5"
      @click="() => choose('opponent')"
    >
      Find opponent!
    </v-card>
  </div>
</template>

<script>
export default {
  methods: {
    choose(option) {
      this.$emit("option-chosen", option);
    }
  }
};
</script>

<style lang="scss" scoped>
.choice-dialog {
  width: 100%;

  @extend .row-center;
  @extend .nowrap;

  @include horizontal-gap(1rem);

  padding: 1rem;

  &__option {
    flex-grow: 1;
    padding: 1rem;
    height: 200px;
    width: 300px;

    @extend .centered;
  }
}

@media screen and (max-width: 600px) {
  .choice-dialog {
    flex-flow: column nowrap;

    @include vertical-gap(1rem);
  }
}
</style>
