<template>
  <div class="search-options">
    <div class="search-options__input">
      <v-text-field
        v-model="options.country"
        label="Country"
        hide-details
        dark
        solo
        @input="onChange"
      />
      <v-text-field
        v-model="options.education"
        label="Education"
        hide-details
        dark
        solo
        @input="onChange"
      />
      <v-text-field
        v-model="options.occupation"
        label="Occupation"
        hide-details
        dark
        solo
        @input="onChange"
      />
      <v-text-field
        v-model="options.category"
        label="Best Category"
        hide-details
        dark
        solo
        @input="onChange"
      />
    </div>

    <v-btn
      class="search-options__button"
      solo
      rounded
      block
      color="secondary"
      @click="search"
    >
      Search
    </v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        occupation: undefined,
        education: undefined,
        country: undefined,
        category: undefined
      }
    };
  },
  methods: {
    search() {
      this.$emit("search-users");
    },
    onChange() {
      this.$emit("input", this.options);
    }
  }
};
</script>

<style lang="scss" scoped>
.search-options {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem;
  grid-template-areas: "options" "button";
  place-content: center;
  align-items: center;

  padding: 1rem;

  border-radius: 10px;
  border: 2px solid $accent;

  &__input {
    grid-area: options;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include horizontal-gap(1rem);
    @include vertical-gap(1rem);
  }

  &__button {
    grid-area: button;
  }
}
</style>
