<template>
  <div class="user-grid">
    <div
      v-for="(user, key) in users"
      :key="key"
      class="user-grid__wrapper"
      @click.stop="() => selectUser(key)"
    >
      <base-user-badge
        v-ripple
        v-bind="user.info"
        vertical
        :score="user.stats.points"
      />
    </div>
  </div>
</template>

<script>
import BaseUserBadge from "@/components/base/BaseUserBadge";

export default {
  components: { BaseUserBadge },
  props: {
    filters: { type: Object, default: undefined },
    searchFollowers: { type: Boolean, default: false }
  },
  data() {
    return { users: [] };
  },
  methods: {
    selectUser(key) {
      this.$emit("user-chosen", this.users[key].info.email);
    },
    searchUserFollowers() {
      console.log("searching followers");
      return this.$store.dispatch("search/followers").then(users => {
        this.users = users;
      });
    },
    async searchUsers() {
      return await this.$store
        .dispatch("search/users", this.filters)
        .then(users => {
          this.users = users;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: 200px;

  @include horizontal-gap(1rem);
  @include vertical-gap(1rem);

  width: 100%;

  background: $background;
  border-radius: 10px;

  &__wrapper {
    color: $foreground;
    border-radius: 10px;
  }
}
</style>
