<template>
  <v-form
    class="sign-up"
    @submit="onSubmit"
  >
    <div class="sign-up__container">
      <v-text-field
        v-model="username"
        :rules="[usernameValidation]"
        type="text"
        label="Username"
        solo
        dark
      />
      <v-text-field
        v-model="email"
        type="email"
        label="Email"
        solo
        dark
      />
      <v-text-field
        v-model="password"
        type="password"
        label="Password"
        solo
        dark
      />
      <v-text-field
        v-model="confirm"
        type="password"
        label="Confirm Password"
        solo
        dark
      />

      <v-expansion-panels dark>
        <v-expansion-panel key="extra-info">
          <v-expansion-panel-header>Additional Info</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-text-field
              v-model="extra.country"
              type="text"
              label="Country"
              solo
              dark
            />
            <v-text-field
              v-model="extra.education"
              type="text"
              label="Education"
              solo
              dark
            />
            <v-text-field
              v-model="extra.occupation"
              type="text"
              label="Occupation"
              solo
              dark
            />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <v-switch
        v-model="accept"
        label="I am accepting terms and conditions"
        color="primary"
      />
    </div>

    <div>{{ error }}</div>

    <v-btn @click.stop="onSubmit">Submit </v-btn>
  </v-form>
</template>

<script>
export default {
  name: "SignUpForm",
  data () {
    return {
      accept: false,
      username: "",
      email: "",
      password: "",
      confirm: "",
      extra: {
        country: "",
        education: "",
        occupation: ""
      },
      error: ""
    };
  },
  methods: {
    confirmUsername (username, notify = false) {
      const valid = username.split(" ").length == 1;

      if (!valid && notify)
        this.$notify.show("User should contain a single word");

      return valid;
    },
    usernameValidation (input) {
      return (
        this.confirmUsername(input) || "Username should contain a single word"
      );
    },
    confirmPassword () {
      if (this.password.length === 0) this.$notify.show("Password is empty");
      if (this.confirm.length === 0)
        this.$notify.show("Confirm Password is empty");

      const passed = this.password === this.confirm;

      if (!passed) this.$notify.show("Password doesn't match");

      return passed;
    },

    confirmAccepted () {
      const passed = this.accept;

      if (!passed) this.$notify.show("You need to accept");

      return passed;
    },

    onSubmit () {
      if (
        this.confirmUsername(this.username, true) &&
        this.confirmAccepted() &&
        this.confirmPassword()
      ) {
        const userdata = {
          username: this.username,
          email: this.email,
          password: this.password,
          options: this.extra
        };

        this.$notify.show("Submiting data...");

        this.$store
          .dispatch("auth/register", userdata)
          .then(({ token }) => {
            this.$cookies.set("token", token);
            this.$router.push({ path: "/dashboard" });
          })
          .catch(err => (this.error = err.message));

        this.showForm = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.sign-up {
  color: $foreground;
  background-color: $background;

  border-radius: 15px;

  @extend .column-center;
  @extend .nowrap;
  @include vertical-gap(1rem);

  padding: 2rem;

  width: fit-content;
}
</style>
