<template>
  <div class="dashboard-debates">
    <debate-list
      v-if="loaded"
      :debates="user.debates"
      class="dashboard-debates__tabs"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import DebateTabs from "@/components/debate/DebateTabs";

export default {
  components: { DebateTabs },
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    })
  }
};
</script>

<style lang="scss" scoped>
.dashboard-debates {
  width: 100%;
  min-height: 60vh;

  &__tabs {
    height: 100%;
  }
}
</style>
