<template>
  <div class="dashboard-requests">
    <v-tabs
      v-model="tab"
      hide-slider
      icons-and-text
      grow
      class="dasboard-requests__tabs"
    >
      <v-tab key="incoming" class="dashboard-requests__tab">
        Incoming <v-icon>mdi-alarm</v-icon>
      </v-tab>
      <v-tab key="outgoing" class="dashboard-requests__tab">
        Outgoing <v-icon>mdi-clock</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" class="bg-transparent">
      <v-tab-item key="incoming">
        <debate-requests
          v-if="loaded"
          :requests-data="user.requests.incoming"
        />
      </v-tab-item>

      <v-tab-item key="outgoing">
        <debate-requests
          v-if="loaded"
          :requests-data="user.requests.outgoing"
          initiated
        />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DebateRequests from "@/components/request/DebateRequests";

export default {
  components: { DebateRequests },
  data: () => ({ tab: 0 }),
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    })
  }
};
</script>

<style lang="scss" scoped>
.dashboard-requests {
  color: $background;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  background-color: $background;

  &__tab {
    background-color: $background;
    color: $foreground;
  }

  &__tabs .theme--light .v-tab {
    color: $foreground !important;
  }

  &__debates {
    width: 100%;
  }
}

.bg-transparent {
  background-color: transparent;
}
</style>
