<template>
  <div class="feed">
    <div class="feed__heading text-center font-weight-light display-2">
      Feed
    </div>

    <div class="feed__list">
      <pagination-provider :query="feedQuery" :size="10">
        <template #default="{ data }">
          <debate-list :debates="data" />
        </template>
      </pagination-provider>
    </div>
  </div>
</template>

<script>
import DebateList from "@/components/debate/DebateList";
import PaginationProvider from "@/components/PaginationProvider";

export default {
  components: { DebateList, PaginationProvider },
  computed: {
    feedQuery: () => "account/feed"
  }
};
</script>

<style lang="scss" scoped>
.feed {
  @extend .column-center;
  padding: 1rem;

  &__heading {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    color: $primary;
  }
}
</style>
