<template>
  <div class="dashboard">
    <!-- <div class="dashboard__nav">
      <router-link to="/dashboard/feed" replace class="elevation-3">
        Feed
      </router-link>
      <router-link to="/dashboard/debates" replace class="elevation-3">
        Debates
      </router-link>
      <router-link to="/dashboard/requests" replace class="elevation-3">
        Requests
      </router-link>
      <router-link to="/dashboard/settings" replace class="elevation-3">
        Settings
      </router-link>
    </div> -->

    <div class="dashboard__view">
      <!-- <transition name="fade" mode="out-in"> -->
      <router-view />
      <!-- </transition> -->
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.dashboard {
  // background-color: $background;
  color: $foreground;
  border-radius: 10px;

  @extend .column-center;

  width: 100%;

  @include vertical-gap(1rem);

  &__nav {
    grid-area: nav;
    align-self: start;
    justify-self: stretch;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    justify-content: center;
    align-items: stretch;

    text-align: center;

    a {
      background-color: rgb(66, 62, 62);
      border-radius: 5px;
      text-decoration: none;

      font-weight: 300;
      font-size: 1.5rem;

      transition: background-color 0.6s;

      &:hover {
        background-color: rgb(76, 72, 72);
      }
    }

    .v-tab {
      width: 100%;
    }
  }

  &__view {
    grid-area: view;

    display: flex;
    justify-content: center;
    align-items: stretch;

    width: 100%;
  }

  &__item {
    width: 100%;
  }
}
</style>
