<template>
  <div class="settings">
    <image-upload />

    <div class="title">About</div>
    <div class="subtitle-1">Enter your name:</div>
    <v-text-field v-model="name" dark solo />
    <div class="subtitle-1">Enter your country:</div>
    <v-text-field v-model="country" dark solo />
    <div class="subtitle-1">Tell about yourself:</div>
    <v-textarea v-model="about" dark solo rows="3" auto-grow no-resize />

    <v-btn
      solo
      rounded
      outlined
      color="dominant"
      class="settings__submit"
      @click.stop="onSubmit"
    >
      Submit
    </v-btn>
  </div>
</template>

<script>
import ImageUpload from "@/components/ImageUpload";

export default {
  components: { ImageUpload },
  data() {
    return {
      name: "",
      country: "",
      about: ""
    };
  },
  methods: {
    onSubmit() {
      this.$store
        .dispatch("account/updateInfo", { ...this.$data })
        .then(() => this.$notify.show("Updated user information"));
    }
  }
};
</script>

<style lang="scss" scoped>
.settings {
  width: 70%;
  background-color: $background;

  border-radius: 10px;
  padding: 1rem 3rem;

  @extend .flex-column;
  @include vertical-gap(0.3rem);

  &__submit {
    align-self: center;
    width: 40%;
  }
}
</style>
