<template>
  <div v-if="loaded" class="profile">
    <user-profile v-bind="user" />
    <debate-tabs v-bind="user.debates" class="profile__debates" />
  </div>
  <loading-spinner v-else />
</template>

<script>
import { mapState } from "vuex";

import UserProfile from "@/components/user/UserProfile";
import DebateTabs from "@/components/debate/DebateTabs";
import LoadingSpinner from "@/components/LoadingSpinner";

export default {
  components: { DebateTabs, UserProfile, LoadingSpinner },
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    })
  }
};
</script>

<style scoped lang="scss">
.profile {
  @extend .flex-column;
  @include vertical-gap(1.2rem, true);

  justify-content: start;
  align-items: stretch;
  max-width: 940px;
}

.profile__debates {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .profile {
    max-width: 100%;
  }
}
</style>
