<template>
  <search-results :query="query" :variables="variables">
    <template #title>
      Results for search "{{ variables.query }}"
    </template>
  </search-results>
</template>

<script>
import SearchResults from "./SearchResults";
import { deepSearch } from "@/queries/debate";
import { sanitize } from "dompurify";

export default {
  components: { SearchResults },
  computed: {
    query: () => deepSearch,
    variables() {
      const { query } = this.$route.query;

      return { query: sanitize(query) };
    }
  }
};
</script>
