<template>
  <search-results :query="query" :variables="variables">
    <template #title>
      Debates with tags
      <base-tag-list :tags="variables.tags" large />
    </template>
  </search-results>
</template>

<script>
import SearchResults from "./SearchResults";
import BaseTagList from "@/components/base/BaseTagList";
import { debatesByTag } from "@/queries/debate";

export default {
  components: { SearchResults, BaseTagList },
  computed: {
    query: () => debatesByTag,
    variables() {
      const queryString = this.$route.query.tags;
      const tags = queryString.split(",");

      return { tags };
    }
  }
};
</script>
