<template>
  <search-results :query="query" :variables="variables">
    <template #title>
      Debates of category {{ variables.category }}
    </template>
  </search-results>
</template>

<script>
import SearchResults from "./SearchResults";
import { debatesByCategory } from "@/queries/debate";

export default {
  components: { SearchResults },
  computed: {
    query: () => debatesByCategory,
    variables() {
      const category = this.$route.params.categoryname;

      return { category };
    }
  }
};
</script>
