<template>
  <div class="search-results">
    <div class="search-results__title">
      <slot name="title" />
    </div>
    <apollo-query :query="query" :variables="variables">
      <template slot-scope="{ result: { data } }">
        <debate-list v-if="data" :debates="data[queryName]" />
        <loading-spinner v-else />
      </template>
    </apollo-query>
  </div>
</template>

<script>
import DebateList from "@/components/debate/DebateList";
import LoadingSpinner from "@/components/LoadingSpinner";

export default {
  components: { DebateList, LoadingSpinner },
  props: {
    query: { type: Object, required: true },
    variables: { type: Object, default: () => ({}) }
  },
  computed: {
    queryName() {
      return this.query.definitions[0].name.value;
    }
  }
};
</script>

<style lang="scss" scoped>
.search-results {
  @extend .column-center;
  @include vertical-gap(1rem);

  border-radius: 10px;
  padding: 1rem;

  &__title {
    width: 100%;
    font-weight: 300;
    font-size: 3em;
    @extend .column-center;
    @include vertical-gap(2rem);
  }
}
</style>
