<template>
  <div class="debate-info">
    <!-- Category header -->
    <base-surround class="debate-info__category">
      <base-category-badge :name="category.name" />
    </base-surround>

    <!-- Debate's tags -->
    <base-tag-list class="debate-info__tags" :tags="tags" />

    <!-- Topic and Description -->
    <div class="debate-info__description headline">
      <span class="font-weight-light">{{ topic }}</span>
    </div>

    <!-- Debate's sides' account links -->
    <base-surround :sides="flatSides" class="debate-info__sides">
      <!-- Vertical line to separate users -->
      <v-divider vertical />

      <!-- Use badges to show links to profiles -->
      <template #surround="participant">
        <div class="debate-info__participant">
          <base-user-badge
            :id="participant.user.id"
            v-bind="participant.user.info"
            :inverted="participant.side === 'right'"
            :score="participant.score"
            is-link
          />

          <vote-button
            v-if="!isParticipant && !finished"
            :debate-id="id"
            :side="participant.side"
            :voted="votedOn == participant.side"
          />
        </div>
      </template>
    </base-surround>

    <div v-if="finished" class="debate--finished text-uppercase">
      Debate is over
    </div>
  </div>
</template>

<script>
import BaseCategoryBadge from "@/components/base/BaseCategoryBadge";
import BaseUserBadge from "@/components/base/BaseUserBadge";
import BaseTagList from "@/components/base/BaseTagList";
import BaseSurround from "@/components/base/BaseSurroundContainer";

import VoteButton from "@/components/VoteButton";

export default {
  components: {
    BaseUserBadge,
    BaseTagList,
    BaseSurround,
    VoteButton,
    BaseCategoryBadge
  },
  props: {
    id: { type: String, required: true },
    tags: { type: Array, default: () => [] },
    topic: { type: String, required: true },
    sides: { type: Object, required: true },
    turn: { type: String, required: true },
    votedOn: { type: String, required: true },
    deadline: { type: String, default: null },
    category: {
      type: Object,
      required: true,
      validator: category => category.name
    }
  },
  computed: {
    finished() {
      return this.deadline == null;
    },
    isParticipant() {
      const user = this.$store.state.account.user;
      if (!user.info) return false;

      const loggedUsername = user.info.username;
      const { left, right } = this.sides;

      return (
        left.user.info.username == loggedUsername ||
        right.user.info.username == loggedUsername
      );
    },
    flatSides() {
      if (this.sides instanceof Array) return this.sides;
      else
        return [
          { side: "left", ...this.sides.left },
          { side: "right", ...this.sides.right }
        ];
    }
  }
};
</script>

<style scoped lang="scss">
.debate-info {
  display: grid;
  grid-template-rows:
    [category] 30px
    [tags] auto
    [description] 6fr
    [sides] 5fr
    [over] auto;

  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas:
    "category category category"
    ". tags ."
    ". description ."
    ". sides ."
    ".over.";

  gap: 1rem;

  place-content: center;
  place-items: center;

  border-radius: 5px;
  padding: 0.3rem 1rem;
}

.debate-info__category {
  grid-area: category;
  width: 90%;
}

.debate-info__tags {
  grid-area: tags;
}

.debate-info__description {
  grid-area: description;

  padding: 1rem;
}

.debate-info__sides {
  grid-area: sides;
}

.debate-info__participant {
  @extend .column-center;
  @extend .nowrap;
}

.debate--finished {
  color: $foreground;
  grid-area: over;
}
</style>
