<template>
  <div class="debate-tabs elevation-5">
    <v-tabs
      v-model="tab"
      hide-slider
      icons-and-text
      grow
      class="debate-tabs__tabs"
    >
      <v-tab key="ongoing" class="debate-tabs__tab ">
        Ongoing <v-icon>mdi-alarm</v-icon>
      </v-tab>
      <v-tab key="finished" class="debate-tabs__tab">
        Finished <v-icon>mdi-clock</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" class="bg-transparent">
      <v-tab-item key="ongoing">
        <debate-list :debates="ongoing" />
      </v-tab-item>

      <v-tab-item key="finished">
        <debate-list :debates="finished" />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import DebateList from "@/components/debate/DebateList";

/**
 * Component for tabs used to sorting entries (at some point in the future)
 */
export default {
  components: { DebateList },
  props: {
    ongoing: { type: Array, required: true },
    finished: { type: Array, required: true }
  },
  data: () => ({
    tab: null
  })
};
</script>

<style lang="scss" scoped>
.debate-tabs {
  width: 100%;
  // min-height: 90%;
  border-radius: 10px;
  // padding: 10px 0;

  background-color: $accent;
  color: $foreground;

  &__tab {
    background-color: $background;
    color: $foreground;
  }

  &__tabs .theme--light .v-tab {
    color: $foreground !important;
  }

  &__debates {
    width: 100%;
  }
}

.bg-transparent {
  background-color: transparent;
}
</style>
