<template>
  <div class="preview">
    <!-- Debate's category -->
    <base-surround class="preview__category">
      <base-category-badge :name="category.name" />
    </base-surround>

    <!-- Debate's topic that serves also as a link -->
    <router-link exact :to="`/debate/${id}`" class="preview--link">
      <div class="headline text-center preview__topic">
        {{ topic | fixLength }}
      </div>
    </router-link>

    <div class="preview--full-width">
      <!-- Users' profile links and their score -->
      <base-surround :sides="flatSides" class="preview__sides">
        <!-- Separator for the profiles' links -->
        <span class="text-center font-weight-thin display-2">
          VS
        </span>

        <!-- Display badge as the profile link -->
        <template #surround="side">
          <base-user-badge
            v-bind="side.user.info"
            :inverted="side.side === 'right'"
            :score="side.score"
            is-link
          />
        </template>
      </base-surround>
    </div>

    <base-tag-list :tags="tags" />
    <div v-if="deadline" class="date caption">
      {{ deadline | formatDate }}
    </div>
    <div v-else class="date caption">Debate is over</div>
  </div>
</template>

<script>
import BaseUserBadge from "@/components/base/BaseUserBadge";
import BaseTagList from "@/components/base/BaseTagList";
import BaseSurround from "@/components/base/BaseSurroundContainer";
import BaseCategoryBadge from "@/components/base/BaseCategoryBadge";

const fixLength = v => {
  if (v.length <= 110) return v;

  const words = v.split(" ");

  // collect words until we have at most 80 characters
  const accumulateWords = (acc, word) =>
    acc.length + word.length <= 110 ? `${acc} ${word}` : acc;
  const shortened = words.reduce(accumulateWords, "");

  const punctuationRegex = /([.,/#!$%^&*;:{}=\-_`~()\][])+$/g;
  const newString = shortened.replace(punctuationRegex, "") + "...";

  return newString;
};

/**
 * Base Debate Preview Component.
 * Display preview of the debate.
 */
export default {
  components: { BaseUserBadge, BaseTagList, BaseSurround, BaseCategoryBadge },
  filters: { fixLength },
  props: {
    id: { type: String, required: true },
    topic: { type: String, required: true },
    sides: { type: [Array, Object], required: true },
    deadline: { type: String, default: null },
    tags: { type: Array, default: () => [] },
    category: {
      type: Object,
      required: true,
      validator: category => category.name
    }
  },
  computed: {
    flatSides() {
      if (this.sides instanceof Array) return this.sides;
      else
        return [
          { side: "left", ...this.sides.left },
          { side: "right", ...this.sides.right }
        ];
    }
  }
};
</script>

<style scoped lang="scss">
.preview {
  @extend .column-center;
  @extend .nowrap;

  @include vertical-gap(0.5rem);

  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin: 1rem;

  width: 95%;

  color: $dominant;
  background: $background;

  &__topic {
    font-weight: 400;
    padding: 0 1rem;
  }

  &__category {
    width: 90%;
    color: $secondary;
  }

  .preview__sides {
    width: 100%;
  }

  .preview--full-width {
    width: 100%;
  }

  .preview--link {
    color: $foreground;
    text-decoration: none;
  }
}
</style>
