<template>
  <div v-if="debates.length > 0">
    <!-- Debates from the list -->
    <transition-group
      name="fade"
      mode="out-in"
      appear
      tag="div"
      class="debate-list"
    >
      <div
        v-for="(debate, i) in debates"
        :key="'debate-' + i"
        class="list__item"
      >
        <slot :debate="debate">
          <debate-preview class="elevation-5" v-bind="debate" />
        </slot>
      </div>
    </transition-group>
  </div>
  <div v-else class="debate-list--empty">
    <div class="font-weight-thin">
      No debates available
    </div>
  </div>
</template>

<script>
import DebatePreview from "@/components/debate/DebatePreview";

export default {
  components: { DebatePreview },
  props: {
    /** Header of the list */
    // header: { type: String, default: "Debates" },

    /** List of debates to display */
    debates: { type: Array, required: true }
  }
};
</script>

<style lang="scss" scoped>
.debate-list {
  @extend .column-center;
  @extend .nowrap;

  color: $foreground;
  // background-color: $background;

  &--empty {
    background-color: inherit;
    color: $dominant;

    height: 30vh;
    @extend .centered;

    font-weight: 500;

    font-size: 3.5rem;
  }
}

.list {
  width: 100%;
  background-color: grey;

  &__item {
    width: 100%;
    @extend .centered;
  }
}
</style>
