<template>
  <div class="debate">
    <debate-info v-bind="$props" />

    <!-- Header of the arguments section -->
    <div class="text-center font-weight-light display-1">
      Arguments
    </div>

    <div class="debate__editor">
      <v-expansion-panels
        v-if="userIsParticipant && !finished"
        :disabled="userSide != turn"
        class="background"
      >
        <v-expansion-panel dark class="add-argument bg-transparent">
          <v-expansion-panel-header>
            <div class="text-uppercase text-center headline font-weight-light">
              <span v-if="userSide == turn"> Add Argument </span>
              <span v-else> Wait for your opponent </span>
            </div>
          </v-expansion-panel-header>

          <v-expansion-panel-content>
            <markdown-editor :submit="submit" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <debate-log :log="log" :sides="sides" />
  </div>
</template>

<script>
import { mapState } from "vuex";

import DebateLog from "@/components/debate/DebateLog";
import DebateInfo from "@/components/debate/DebateInfo";
import MarkdownEditor from "@/components/editor/MarkdownEditor";

export default {
  components: { DebateInfo, DebateLog, MarkdownEditor },
  props: {
    id: { type: String, required: true },
    tags: { type: Array, default: () => [] },
    topic: { type: String, required: true },
    turn: { type: String, required: true },
    // description: { type: String, required: true },
    sides: { type: Object, required: true },
    votedOn: { type: String, required: true },
    log: { type: Array, required: true },
    deadline: { type: String, default: null },
    created: { type: String, required: true },
    category: {
      type: Object,
      required: true,
      validator: category => category.name
    }
  },
  data() {
    return { argument: "" };
  },
  computed: {
    ...mapState({
      user: state => state.account.user,
      loaded: state => Object.keys(state.account.user).length > 0
    }),
    finished() {
      return this.deadline == null;
    },
    userIsParticipant() {
      if (this.loaded) {
        const left = this.sides.left.user.info.username;
        const right = this.sides.right.user.info.username;

        const username = this.user.info.username;

        return username === left || username === right;
      } else {
        return null;
      }
    },
    userSide() {
      if (this.loaded) {
        const left = this.sides.left.user.info.username;
        const right = this.sides.right.user.info.username;
        const username = this.user.info.username;

        if (username == left) return "left";
        else if (username == right) return "right";
        else return "none";
      } else {
        return null;
      }
    }
  },
  methods: {
    submit(argument) {
      return this.$store
        .dispatch("account/addArgument", { debate: this.id, argument })
        .then(entry => this.log.push(entry))
        .catch(err => this.$notify.error(err.message));
    }
  }
};
</script>

<style scoped lang="scss">
.debate {
  @extend .column-center;

  @include vertical-gap(1rem);

  background: $background;
  color: $foreground;

  border-radius: 10px;

  padding: 1.5rem;
  max-width: 980px;

  &__editor {
    width: 80%;
    background: $background;
  }

  .add-argument {
    color: $foreground;
    background: transparent;
  }

  .v-expansion-panel::before {
    box-shadow: unset;
  }

  .outlined {
    border-radius: 20px;
    border-style: solid;
    border-color: $foreground;
  }
}

@media screen and (max-width: 1280px) {
  .debate {
    max-width: 100%;
  }
}
</style>
