<template>
  <div class="debate-log">
    <v-timeline
      v-if="log.length > 0"
      align-top
      dense
      class="debate-log__entries"
    >
      <!-- Displays all log messages as arguments -->
      <v-timeline-item
        v-for="(entry, i) in log"
        :key="i"
        class="debate-log__entry"
        fill-dot
      >
        <v-subheader class="headline entry-header">
          <span>{{ getUserSide(entry).info.username }}</span>
          <span class="subtitle-2 foreground--text">
            {{ entry.timestamp | formatDate }}
          </span>
        </v-subheader>

        <div class="entry-content">
          <markdown-display :markdown="entry.content" />
        </div>

        <template #icon>
          <base-avatar :name="getUserSide(entry).info.name" />
        </template>
      </v-timeline-item>
    </v-timeline>

    <div v-else class="text-uppercase body-1 font-weight-light text-center">
      No Arguments Submited Yet
    </div>
  </div>
</template>

<script>
import BaseAvatar from "@/components/base/BaseAvatar";
import MarkdownDisplay from "@/components/editor/MarkdownDisplay";

export default {
  components: { BaseAvatar, MarkdownDisplay },
  props: {
    /** Debate's argument log */
    log: { type: Array, required: true },
    /** sides of the debate */
    sides: { type: Object, required: true }
  },
  methods: {
    getUserSide(entry) {
      return this.sides[entry.side].user;
    }
  }
};
</script>

<style scoped lang="scss">
.debate-log {
  width: 100%;
  padding: 1rem;
  @extend .flex-column;
  @include vertical-gap(2rem);
}
.debate-log__heading {
  text-align: center;
  padding: 0.3rem;
}

.debate-log__entries {
  padding-top: 0;
  width: 100%;
}

.debate-log__entry {
  width: 100%;

  .entry-header {
    color: $primary;
    @include horizontal-gap(1rem);
  }

  .entry-content {
    color: $paragraph-color;
    font-size: 1.3rem;
  }
}
</style>
