<template>
  <login-handler :form-data="formData">
    <!-- Put in the form and expose _onSubmit_ method,
      while sending the form data -->
    <template v-slot:default="{ onSubmit }">
      <v-form class="login-form" background="primary">
        <v-text-field
          v-model="username"
          :color="color"
          type="text"
          label="username"
          hide-details
          solo
          dark
        />

        <v-text-field
          v-model="password"
          :color="color"
          type="password"
          label="password"
          hide-details
          solo
          dark
        />

        <v-btn
          color="primary"
          class="login-form__submit background--text"
          block
          dark
          @click="onSubmit"
        >
          Submit
        </v-btn>
      </v-form>
    </template>
  </login-handler>
</template>

<script>
import LoginHandler from "./LoginHandler";

export default {
  components: { LoginHandler },
  props: { color: { type: String, default: undefined } },
  data() {
    return {
      username: "",
      password: ""
    };
  },
  computed: {
    formData() {
      return {
        username: this.username,
        password: this.password
      };
    }
  }
};
</script>

<style scoped lang="scss">
.login-form {
  @extend .flex-column;
  @extend .nowrap;
  align-items: stretch;
  @include vertical-gap(1rem);

  padding: 1rem;

  &__submit {
    // color: $foreground;
    width: fit-content;
  }

  &__register {
    color: $primary;
    width: 100%;
    text-align: center;
  }
}
</style>
