<template>
  <div>
    <!-- Default slot that provides submit action -->
    <slot :onSubmit="onSubmit"></slot>
  </div>
</template>

<script>
export default {
  props: {
    formData: { type: Object, required: true }
  },
  methods: {
    onSubmit() {
      // Send login request
      this.$store
        .dispatch("auth/login", this.formData)
        .then(({ user, token }) => {
          // Get request status
          const status = this.$store.state.auth.status;

          // Save token and user in store on success
          if (status === "success") {
            this.$emit("loggedIn");
            this.$cookies.set("token", token, { expires: 1 });

            this.$router.push({
              path: "/dashboard",
              params: { id: user._id }
            });
          }
        })
        // then close the form
        .then(() => (this.showForm = false))
        .catch(console.error);
    }
  }
};
</script>
