<template>
  <v-dialog v-model="dialog" content-class="login-form__container">
    <div class="login-form__main">
      <!-- Header for the modal content -->
      <div class="text-center display-1 font-weight-thin">Login</div>
      <!--  Content of the modal -->
      <login-form color="primary" />
    </div>

    <!-- EXternal button that will trigger the modal -->
    <template #activator="{ showForm }">
      <v-btn @click.stop="dialog = !dialog">
        Login
      </v-btn>
    </template>

    <div class="login-form__register">
      <div class="register-link" @click.stop="signupRedirect">Register</div>
    </div>
  </v-dialog>
</template>

<script>
import LoginForm from "./LoginForm";

export default {
  components: { LoginForm },
  data: () => ({ dialog: false }),
  /**
   * Register closeForm
   */
  mounted() {
    this.$on("loggedIn", this.closeForm);
  },
  methods: {
    signupRedirect() {
      this.dialog = false;
      this.$router.push({
        path: "/register"
      });
    }
  }
};
</script>

<style lang="scss">
.login-form__container {
  padding: 1rem;
  width: 30vw !important;

  background-color: $background;
  color: $foreground;

  @extend .column-center;
  @extend .nowrap;
  @include vertical-gap(1rem);
}

.login-form__register {
  color: $primary;
  width: 100%;
  @extend .centered;

  .register-link {
    cursor: pointer;
    text-decoration: underline;
  }
}
// .login-form__main {
// }
</style>
