<template>
  <!-- <v-app id="keep"> -->
  <div id="keep">
    <v-app-bar app clipped-left color="background">
      <!-- <v-app-bar-nav-icon @click="drawer = !drawer" /> -->

      <div class="layout__topbar">
        <router-link
          to="/"
          tag="span"
          class="subtitle-1 font-weight-light text-uppercase layout__link"
        >
          Debatespace
        </router-link>
        <search-bar class="search" />
        <profile-panel class="profile" tooltip="Account" />
      </div>
    </v-app-bar>

    <v-content class="full-height">
      <div class="layout__content">
        <transition name="fade" mode="out-in">
          <router-view :key="$route.path" />
        </transition>
      </div>
      <navigation-list />
    </v-content>
  </div>
</template>

<script>
import SearchBar from "@/components/navigation/SearchBar.vue";
import NavigationList from "@/components/navigation/NavigationList";
import ProfilePanel from "@/components/navigation/ProfilePanel";

export default {
  components: { NavigationList, ProfilePanel, SearchBar }
};
</script>

<style lang="scss">
#keep .v-navigation-drawer__border {
  display: none;

  .v-app.bar {
    color: $foreground;
  }
}

#keep {
  // background-image: url("../assets/background.jpg");
  background-color: $dominant;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.layout__link {
  cursor: pointer;
}

.layout__content {
  @extend .flex-row;
  justify-items: center;
  align-items: center;
  @include horizontal-gap(3rem);

  height: 100%;

  padding: 2rem;
  padding-left: 85px;
}

@media screen and (max-width: 600px) {
  .layout__content {
    padding: 0;
  }
  .search {
    display: none
  }
}

.layout__topbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [title-start] 1fr [title-end content-start] 5fr [content-end] 1fr;

  place-content: center;
  place-items: center;
  color: $foreground;
}

.topbar {
  background: $background;
}

.title {
  grid-column: title / title-end;
}

.search {
  grid-column: content-start / content-end;
  width: 50%;

  color: $foreground;
}

.profile {
  grid-column: content-end;
}
</style>
