<template>
  <v-content class="full-height">
    <div class="layout__content">
      <transition name="fade" mode="out-in">
        <router-view :key="$route.path" />
      </transition>
    </div>
  </v-content>
</template>

<style lang="scss" scoped> 
.layout__content {
  @extend .flex-row;

  justify-items: center;
  align-items: center; 
  height: 100%;

  font-family: "Raleway";

  background-color: $background;
}
</style>